<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
 
	<bean id="myTask" class="com.ff.fdemo.scheduler.FFRunTask" />
 
	<!-- specifing class and method that is going to be called on a specified time basis -->
	<bean id="myJob"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="myTask" />
		<property name="targetMethod" value="doTask" />
	</bean>
 
	<!-- simple trigger specify repeat interval and delay time 1000=1s -->
	<!-- way 1 
	<bean id="simpleTrigger"
		class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
		<property name="jobDetail" ref="myJob" />
		<property name="repeatInterval" value="1000" /> 
		<property name="startDelay" value="1000" /> 	
	</bean> -->
	
	<!-- way 2 -->
	<!-- 
	"0 0 * * * *" = the top of every hour of every day.
	"*/10 * * * * *" = every ten seconds.
	"0 0 8-10 * * *" = 8, 9 and 10 o'clock of every day.
	"0 * 6,19 * * *" = 6:00 AM and 7:00 PM every day.
	"0 0/30 8-10 * * *" = 8:00, 8:30, 9:00, 9:30 and 10 o'clock every day.
	"0 0 9-17 * * 2" = on the hour nine-to-five weekdays
	"0 0 0 25 12 ?" = every Christmas Day at midnight
	-->
	<bean id="simpleTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="myJob" />
		<property name="cronExpression" value="0 0/15 17 ? * MON-FRI" /> <!-- on the hour 2 weekdays -->
	</bean>
	
	<!-- scheduler factory bean to bind,the executing code and time intervals together -->
 	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
 		<property name="autoStartup">
			<value>false</value>
		</property>
		<property name="jobDetails">
			<list>
				<ref bean="myJob" />
			</list>
		</property>
		<property name="triggers">
			<list>
				<ref bean="simpleTrigger" />
			</list>
		</property>
	</bean>
 
</beans>